<!DOCTYPE html>
<html>
    <!--
    
    BREAKING NEWS: KITTENS LOVE YARN
    
                      __     __,
                      \,`~"~` /
      .-=-.           /    . .\
     / .-. \          {  =    Y}=
    (_/   \ \          \      / 
           \ \        _/`'`'`b
            \ `.__.-'`        \-._
             |            '.__ `'-;_
             |            _.' `'-.__)
              \    ;_..-`'/     //  \
              |   /  /   |     //    |
              \  \ \__)   \   //    /
               \__)        './/   .'
                             `'-'`
    
    -->
    <head>
        <title>Aaron K. Wilkinson</title>
        <link rel="stylesheet" href="style.css" type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-HX5QvHXoIsrUAY0tE/wG8+Wt1MwvaY28d9Zciqcj6Ob7Tw99tFPo4YUXcZw9l930" crossorigin="anonymous">
        <script src="//code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700|Work+Sans:200,300,400" rel="stylesheet">    </head>
    <body>
        <div id="card">
            <div id="card_face_front" class="card_face">
                <div class="content card_face_flip_relative_toggle">
                    <img id="profile-pic" src="img/aaron.png" alt="Aaron">
                    <h1 class="h1_card-flip-toggles">Aaron K. Wilkinson</h1>
                    <h2>Software Developer. Cat Lover. Chocoholic.</h2>
                    <div id="projects">
                        <div id="fullstack-header" class="projects-header">
                            <span class="down-arrows"><i class="fal fa-angle-double-down"></i></span>
                            <span class="up-arrows"><i class="fal fa-angle-double-up"></i></span>
                            <h3> Web Applications </h3>
                            <span class="up-arrows"><i class="fal fa-angle-double-up"></i></span>
                            <span class="down-arrows"><i class="fal fa-angle-double-down"></i></span>
                        </div>
                        <div id="fullstack" class="projects-div">
                            <div id="cs50" class="project">
                                <div class="img-container">
                                    <a href="https://youtu.be/WSlYoPnvfJI" target="_blank"><img class="app-screenshot" src="img/cs50-fitness.png" alt="CS50 Fitness"></a>
                                </div>
                                <div>
                                    <a href="https://youtu.be/WSlYoPnvfJI" target="_blank"><h4>CS50 Fitness</h4></a>
                                    <p>
                                        App that allows users to enter exercises and use them to 
                                        create routines which can be used to record workouts. Past 
                                        workouts can be reviewed to monitor progress.
                                    </p>
                                    <div class="project-techs">
                                        <i class="fal fa-flask"></i>
                                        <i class="fab fa-html5"></i>
                                        <i class="fab fa-css3-alt"></i>
                                        <i class="fab fa-python"></i>
                                        <i class="fal fa-database"></i>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div id="blackjack" class="project">
                                <div>
                                    <a href="http://blackjack.aaronkwilkinson.com" target="_blank"><h4>AKW Blackjack</h4></a>
                                    <p>
                                        Blackjack application that dynamically generates decks 
                                        based on user input. Passion project with roadmap of 
                                        enhancements.
                                    </p>
                                    <div class="project-techs">
                                        <i class="fab fa-html5"></i>
                                        <i class="fab fa-css3-alt"></i>
                                        <i class="fab fa-js-square"></i>
                                    </div>
                                </div>
                                <div>
                                    <a href="http://blackjack.aaronkwilkinson.com" target="_blank"><img class="app-screenshot" src="img/blackjack.png" alt="AKW Blackjack"></a>
                                </div>
            
                            </div>
                            <hr>
                            <div id="weather" class="project">
                                <div>
                                    <a href="https://akw-weather.herokuapp.com/" target="_blank"><img class="app-screenshot" src="img/weather.png" alt="Weather"></a>
                                </div>
                                <div>
                                    <a href="https://akw-weather.herokuapp.com/" target="_blank"><h4>Weather App</h4></a>
                                    <p>
                                        Simple application to display weather conditions for 
                                        a user-entered city. Allows for conversion between Metric 
                                        and Imperial measurements. Recent location data is cached 
                                        for quick retrieval. Backgrounds change to match weather 
                                        temperature and conditions.
                                    </p>
                                    <div class="project-techs">
                                        <i class="fab fa-html5"></i>
                                        <i class="fab fa-css3-alt"></i>
                                        <i class="fab fa-python"></i>
                                        <i class="fal fa-database"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="frontend-header" class="projects-header">
                            <span class="down-arrows"><i class="fal fa-angle-double-down"></i></span>
                            <span class="up-arrows"><i class="fal fa-angle-double-up"></i></span>
                            <h3>Front End Designs</h3>
                            <span class="up-arrows"><i class="fal fa-angle-double-up"></i></span>
                            <span class="down-arrows"><i class="fal fa-angle-double-down"></i></span>
                        </div>
                        <div id="frontend" class="projects-div">
                            <div id="edonor" class="project">
                                <div>
                                    <a href="https://mdandersonbloodbank.org/index.cfm?group=page&pgfunction=fixedsites" target="_blank"><h4>MD Anderson's eDonor Page</h4></a>
                                    <p>
                                        Updated MD Anderson's Blood Donor Center's eDonor 
                                        "Donor Centers" page from a non-intuitive listing 
                                        of sites and hours to a more engaging and seamless 
                                        user experience including pictures and differing fonts.
                                    </p>
                                    <div class="project-techs">
                                        <i class="fab fa-html5"></i>
                                        <i class="fab fa-css3-alt"></i>
                                    </div>
                                </div>
                                <div>
                                    <a href="https://mdandersonbloodbank.org/index.cfm?group=page&pgfunction=fixedsites" target="_blank"><div id="imageSwap"></div></a>
                                </div>
                            </div>
                        </div>
                        <div id="misc-header" class="projects-header">
                            <span class="down-arrows"><i class="fal fa-angle-double-down"></i></span>
                            <span class="up-arrows"><i class="fal fa-angle-double-up"></i></span>
                            <h3>Misc</h3>
                            <span class="up-arrows"><i class="fal fa-angle-double-up"></i></span>
                            <span class="down-arrows"><i class="fal fa-angle-double-down"></i></span>
                        </div>
                        <div id="misc" class="projects-div">
                            <div id="tmp-report" class="project">
                                <div>
                                    <img class="app-screenshot" src="img/report.png" alt="Report">
                                </div>
                                <div>
                                    <h4>Granulocyte Donors Review Report</h4>
                                    <p>
                                        Custom report created to summarize all relevant data 
                                        from multiple applications for granulocyte prescreen 
                                        donors. Report used by transfusion medicine pathologists 
                                        to determine eligibility of potential granulocyte donors.
                                        PHI redacted.
                                    </p>
                                    <div class="project-techs">
                                        
                                    </div>
                                </div>
                            </div>
                            <!--<div id="barcodes" class="project">-->
                                
                            <!--</div>-->
                        </div>
                    </div>
                    <div id="socials">
                        <a href="https://github.com/aaronkyl" target="_blank"><i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/aaronkwilkinson/" target="_blank"><i class="fab fa-linkedin"></i></a>
                        <a href="https://www.codewars.com/users/aaronkyl" target="_blank"><i class="far fa-code"></i></a>
                    </div>
                    <div id="contact">
                        CONTACT
                    </div>
                </div>
            </div>
            <div id="card_face_back" class="card_face">
                <div class="content">
                    <i class="fal fa-times"></i>
                    <h3>Contact Aaron</h3>
                    <!--<p>All fields are required</p>-->
                    <form action="" method="post">
                        <label for="name">NAME</label>
                        <input name="name" id="name" placeholder="Jane Doe" type="text" required>
                        <label for="email">EMAIL</label>
                        <input name="email" id="email" placeholder="jane@gmail.com" type="email" required>
                        <label for="message">MESSAGE</label>
                        <textarea name="message" id="message" placeholder="I want to hire you" required></textarea>
                        <button type="submit"><i class="far fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <script src="script.js" type="text/javascript"></script>
    </body>
</html>
