<!DOCTYPE html>
<html>
    <!--
    
    BREAKING NEWS: KITTENS LOVE YARN
    
                      __     __,
                      \,`~"~` /
      .-=-.           /    . .\
     / .-. \          {  =    Y}=
    (_/   \ \          \      / 
           \ \        _/`'`'`b
            \ `.__.-'`        \-._
             |            '.__ `'-;_
             |            _.' `'-.__)
              \    ;_..-`'/     //  \
              |   /  /   |     //    |
              \  \ \__)   \   //    /
               \__)        './/   .'
                             `'-'`
    
    -->
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118977212-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            
            gtag('config', 'UA-118977212-1');
        </script>
        <title>Aaron K. Wilkinson</title>
        <link rel="stylesheet" href="static/css/style.css" type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-HX5QvHXoIsrUAY0tE/wG8+Wt1MwvaY28d9Zciqcj6Ob7Tw99tFPo4YUXcZw9l930" crossorigin="anonymous">
        <script src="//code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700|Work+Sans:200,300,400" rel="stylesheet">    </head>
    <body>
        <div id="card">
            <div id="card_face_front" class="card_face">
                <div class="content card_face_flip_relative_toggle">
                    <img id="profile-pic" src="static/img/aaron.png" alt="Aaron">
                    <h1 class="h1_card-flip-toggles">Aaron K. Wilkinson</h1>
                    <h2>Software Developer. Cat Lover. Chocoholic.</h2>
                    <div id="projects">
                        <div id="about-header" class="projects-header">
                            <span class="down-arrows"><i class="fal fa-angle-double-down"></i></span>
                            <span class="up-arrows"><i class="fal fa-angle-double-up"></i></span>
                            <h3> About </h3>
                            <span class="up-arrows"><i class="fal fa-angle-double-up"></i></span>
                            <span class="down-arrows"><i class="fal fa-angle-double-down"></i></span>
                        </div>
                        <div id="about" class="projects-div">
                            <div class="project">
                                <p>
                                    I'm a currently-Houston-based full stack web developer with five 
                                    years of IT experience who believes an application not only needs 
                                    to function well but also provide an easy and enjoyable user 
                                    experience. 
                                </p>
                                <p>
                                    Good code should work <i>with</i> the user, not against them.
                                </p>
                                <p>
                                    If something can be automated, it should be.
                                </p>
                                <p>
                                    If you are interested in working together please 
                                    <a id="about-contact" href="#">contact me</a>.
                                </p>
                                <div class="skills">
                                    <table>
                                        <tr>
                                            <th>Frontend:</th>
                                            <td>JavaScript | jQuery | React | HTML5 | CSS3</td>
                                        </tr>
                                        <tr>
                                            <th>Backend:</th>
                                            <td>Node.js | Python | Flask | Tornado | Express | C/C++ (prior experience)</td>
                                        </tr>
                                        <tr>
                                            <th>Database:</th>
                                            <td>Oracle | PostgreSQL | SQLite</td>
                                        </tr>
                                        <tr>
                                            <th>Other:</th>
                                            <td>Crystal Reports | AutoHotkey | Kanban | Git</td>
                                        </tr>
                                        <tr>
                                            <th>Learning:</th>
                                            <td>Redux | SASS</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="fullstack-header" class="projects-header">
                            <span class="down-arrows"><i class="fal fa-angle-double-down"></i></span>
                            <span class="up-arrows"><i class="fal fa-angle-double-up"></i></span>
                            <h3> Applications </h3>
                            <span class="up-arrows"><i class="fal fa-angle-double-up"></i></span>
                            <span class="down-arrows"><i class="fal fa-angle-double-down"></i></span>
                        </div>
                        <div id="fullstack" class="projects-div">
                            <div id="cs50" class="project">
                                <div class="img-container">
                                    <a href="https://youtu.be/WSlYoPnvfJI" target="_blank"><img class="app-screenshot" src="static/img/cs50-fitness.png" alt="CS50 Fitness"></a>
                                </div>
                                <div>
                                    <div class="project-header">
                                        <a href="https://youtu.be/WSlYoPnvfJI" target="_blank"><h4>CS50 Fitness</h4></a> <a href="https://github.com/aaronkyl/CS50/tree/master/project" target="_blank"><i class="fab fa-github github-icon"></i></a>
                                    </div>
                                    <p>
                                        Exercise tracking app that allows users with accounts to create custom 
                                        routines which can be used to record individual workouts. Past workouts 
                                        can be reviewed to monitor progress. Built with Python, Flask, Jinja, and SQLite.
                                    </p>
                                    <div class="project-techs">
                                        <i class="fal fa-flask"></i>
                                        <i class="fab fa-html5"></i>
                                        <i class="fab fa-css3-alt"></i>
                                        <i class="fab fa-python"></i>
                                        <i class="fal fa-database"></i>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div id="boditraq" class="project">
                                <div>
                                    <div class="project-header">
                                        <a href="http://www.boditraq.com/" target="_blank"><h4>boditraq</h4></a> <a href="https://github.com/aaronkyl/boditraq" target="_blank"><i class="fab fa-github github-icon"></i></a>
                                    </div>
                                    <p>
                                        Body measurement tracking application built with JavaScript, Node.js, 
                                        Express, Nunjucks, and PostgreSQL. Future enhancements include changing 
                                        the frontend to use React and to combine with CS50 Fitness to become one
                                        complete fitness-tracking application.
                                    </p>
                                    <div class="project-techs">
                                        <i class="fab fa-html5"></i>
                                        <i class="fab fa-css3-alt"></i>
                                        <i class="fab fa-js-square"></i>
                                        <i class="fab fa-node-js"></i>
                                        <i class="fal fa-database"></i>
                                    </div>
                                </div>
                                <div>
                                    <a href="http://www.boditraq.com/" target="_blank"><img class="app-screenshot" src="static/img/boditraq_dashboard.png" alt="boditraq"></a>
                                </div>
                            </div>
                            <hr>
                            <div id="m4" class="project">
                                <div>
                                    <a href="https://devpost.com/software/m4-mo-mowin-mo-money" target="_blank"><img class="app-screenshot" src="static/img/m4.jpg" alt="M4"></a>
                                </div>
                                <div>
                                    <div class="project-header">
                                        <a href="https://devpost.com/software/m4-mo-mowin-mo-money" target="_blank"><h4>M4: Mo Mowin, Mo Money</h4></a> <a href="https://github.com/aaronkyl/mo-mowin-mo-money" target="_blank"><i class="fab fa-github github-icon"></i></a>
                                    </div>
                                    <p>
                                        Winner of the <a href="https://houstonhackathon2018.devpost.com" target="_blank">2018 Houston Hackathon</a>.
                                    </p>
                                    <p>
                                        Mobile service platform for the City of Houston's Neighborhood 
                                        Mow-Down Program. Development greenlit by Mayor Turner and enhancements
                                        are ongoing. Built with React.
                                    </p>
                                    <div class="project-techs">
                                        <i class="fab fa-html5"></i>
                                        <i class="fab fa-css3-alt"></i>
                                        <i class="fab fa-react"></i>
                                    </div>
                                </div>
                            </div>
<!-- css needs tobe updated for M4? reposition all following items -->
                            <hr>
                            <div id="blackjack" class="project">
                                <div>
                                    <div class="project-header">
                                        <a href="http://blackjack.aaronkwilkinson.com" target="_blank"><h4>AKW Blackjack</h4></a> <a href="https://github.com/aaronkyl/blackjack" target="_blank"><i class="fab fa-github github-icon"></i></a>
                                    </div>
                                    <p>
                                        Blackjack application that dynamically generates decks 
                                        based on user input. Passion project with roadmap of 
                                        enhancements. Purely frontend application using jQuery.
                                    </p>
                                    <div class="project-techs">
                                        <i class="fab fa-html5"></i>
                                        <i class="fab fa-css3-alt"></i>
                                        <i class="fab fa-js-square"></i>
                                    </div>
                                </div>
                                <div>
                                    <a href="http://blackjack.aaronkwilkinson.com" target="_blank"><img class="app-screenshot" src="static/img/blackjack.png" alt="AKW Blackjack"></a>
                                </div>
                            </div>
                        </div>
                        <div id="misc-header" class="projects-header">
                            <span class="down-arrows"><i class="fal fa-angle-double-down"></i></span>
                            <span class="up-arrows"><i class="fal fa-angle-double-up"></i></span>
                            <h3> Misc Projects </h3>
                            <span class="up-arrows"><i class="fal fa-angle-double-up"></i></span>
                            <span class="down-arrows"><i class="fal fa-angle-double-down"></i></span>
                        </div>
                        <div id="misc" class="projects-div">
                            <div id="edonor" class="project">
                                <div>
                                    <a href="https://mdandersonbloodbank.org/index.cfm?group=page&pgfunction=fixedsites" target="_blank"><div id="imageSwap"></div></a>
                                </div>
                                <div id="edonor-text-div">
                                    <div class="project-header">
                                        <a href="https://mdandersonbloodbank.org/index.cfm?group=page&pgfunction=fixedsites" target="_blank"><h4>MD Anderson's eDonor Page</h4></a>
                                    </div>
                                    <p>
                                        Updated the MD Anderson Blood Donor Center's eDonor 
                                        "Donor Centers" page from a non-intuitive listing 
                                        of sites and hours to a more engaging and seamless 
                                        user experience through use of pictures, different
                                        fonts, spacing, and elimination of duplicated information.
                                    </p>
                                    <div class="project-techs">
                                        <i class="fab fa-html5"></i>
                                        <i class="fab fa-css3-alt"></i>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div id="barcodes" class="project">
                                <div>
                                    <h4>Manufacturing Barcode Cheat Sheets</h4>
                                    <p>
                                        Color-coded barcode cheat sheets for the MD Anderson Blood Donor 
                                        Center's Component Processing Lab. Barcodes contain strings that 
                                        trigger custom scripts to automatically enter data into the 
                                        ElDorado Donor application and move the cursor around the screen. 
                                    </p>
                                    <p>
                                        Increased component processing speed by 300%.
                                    </p>
                                    <div class="project-techs">
                                        
                                    </div>
                                </div>
                                <div>
                                    <img class="app-screenshot" src="static/img/barcodes.png" alt="Barcode Cheat Sheet Examples">
                                </div>
                            </div>
                            <hr>
                            <div id="tmp-report" class="project">
                                <div>
                                    <img class="app-screenshot" src="static/img/report.png" alt="Report">
                                </div>
                                <div>
                                    <h4>Granulocyte Donors Review Report</h4>
                                    <p>
                                        Custom report created to summarize all relevant data 
                                        from multiple applications for granulocyte prescreen 
                                        donors. Report used by transfusion medicine pathologists 
                                        to more easily and quickly determine eligibility of 
                                        potential granulocyte donors, saving them an estimated five
                                        hours each week. PHI redacted in this example.
                                    </p>
                                    <div class="project-techs">
                                        
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="socials">
                        <a href="https://github.com/aaronkyl" target="_blank"><i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/aaronkwilkinson/" target="_blank"><i class="fab fa-linkedin"></i></a>
                        <a href="static/files/Wilkinson_Aaron_Resume.pdf" target="_blank"><i class="fal fa-file-alt"></i></a>
                    </div>
                    <div id="contact">
                        CONTACT
                    </div>
                </div>
            </div>
            <div id="card_face_back" class="card_face">
                <div class="content">
                    <i id="preload-plane" class="fas fa-paper-plane"></i>
                    <i class="fal fa-times"></i>
                    <h3>Contact Aaron</h3>
                    <form action="contact" method="post">
                        <label for="name">NAME</label>
                        <input name="name" id="name" placeholder="Jane Doe" type="text" required>
                        <label for="email">EMAIL</label>
                        <input name="email" id="email" placeholder="jane@gmail.com" type="email" required>
                        <label for="message">MESSAGE</label>
                        <textarea name="message" id="message" placeholder="I'd love to add you to our team!" required></textarea>
                        <button type="submit"><i class="fal fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <script src="static/script/script.js" type="text/javascript"></script>
    </body>
</html>
